@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: white;
  color: #665651;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  height:110px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  text-decoration: none;
  padding: 15px 15px;
  display: flex;
  color: #665651;
  margin-bottom: 30px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:#665651;
  color: white;
  transition: all 0.5s;

}
.active{
  background: #665651;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
}
.icon, .link_text{
  font-size: 20px;
}


